<!-- views/partials/header.ejs -->
    <header>
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">RetroPie Web Console</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li data-ui-sref-active="active"><a data-ui-sref="overview">Home</a></li>
                        <li data-ui-sref-active="active"><a data-ui-sref="monitor">Monitor</a></li>
                        <li data-ui-sref-active="active"><a data-ui-sref="manage">Applications</a></li>
                        <li data-ui-sref-active="active"><a data-ui-sref="games">Games</a></li>
                        <li data-ui-sref-active="active"><a data-ui-sref="streaming">Streaming</a></li>
                        <li data-ui-sref-active="active"><a data-ui-sref="scriptUpdate">Updates</a></li>
                        <li data-ui-sref-active="active"><a data-ui-sref="history">Queue</a></li>
                        <li data-ui-sref-active="active"><a data-ui-sref="settings">Settings</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

