<!-- views/partials/header.ejs -->
    <header>
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">RetroPie Web Console</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li data-ui-sref-active="active"><a data-ui-sref="overview">Home</a></li>
                        <li data-ui-sref-active="active"><a data-ui-sref="monitor">Monitor</a></li>
                        <li data-ui-sref-active="active"><a data-ui-sref="basic">Basic Install</a></li>
                        <li data-ui-sref-active="active"><a data-ui-sref="manage">Manage Packages</a></li>
                        <li data-ui-sref-active="active"><a data-ui-sref="scriptUpdate">Update RetroPie-Setup script</a></li>
                        <li data-ui-sref-active="active"><a data-ui-sref="history">Queue</a></li>
                        <li data-ui-sref-active="active"><a data-ui-sref="uninstall">Uninstall RetroPie</a></li>
                        <li data-ui-sref-active="active"><a data-ui-sref="reboot">Perform Reboot</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

