<div data-ng-controller="BasicController">
    <section id="showcase">
        <div class="container">
            <h1>Basic Install</h1>
            <p>This will install all packages from the 'Core' and 'Main' package sections.</p>
        </div>
    </section>

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">Search</div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="appName">Name:</label>
                    <input class="form-control" ng-model="search.name" id="appName" />
                </div>
                <div class="form-group">
                    <label for="desc">Description:</label>
                    <input class="form-control" ng-model="search.description" id="desc" />
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <input type="checkbox" ng-model="sure">I am sure I want to do a basic install</input><br /> 
                <button ng-model="button" ng-disabled="!sure" data-ng-click="executeBasic()">Execute</button>
            </div>
        </div> 
        <div class="panel panel-default">
            <div class="panel-heading">Install Status</div>
            <div class="panel-body">
                <label style="text-transform: capitalize;">{{exec.name}} {{exec.completed}}/{{exec.totalCount}}</label>
                <md-progress-linear id="install" md-mode="determinate" value="{{exec.completed/exec.totalCount*100}}"></md-progress-linear>
                <label>Status</label>
                <ul class="list-inline">
                    <li
                        class="list-group-item" ng-repeat="item in exec.items"
                        ng-class="{'list-group-item-success':item.success == true,'list-group-item-info':item.state=='queued','list-group-item-danger':item.success == false}">
                            {{item.name}}
                    </li>
                </ul>
            </div>
        </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>
                    <a style="cursor:pointer" ng-click="sortType = 'name';sortReverse = !sortReverse">
                        Name
                    </a>
                </td>
                <td>
                    <a style="cursor:pointer" ng-click="sortType = 'type';sortReverse = !sortReverse">
                        Type
                    </a>
                </td>
                <td>
                    <a style="cursor:pointer" ng-click="sortType = 'modType';sortReverse = !sortReverse">
                        Mod Type
                    </a>
                </td>
                <td>
                    <a style="cursor:pointer" ng-click="sortType = 'description';sortReverse = !sortReverse">
                        Description
                    </a>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="app in (appList | filter:applyFilter | filter:search:strict | orderBy:sortType:sortReverse)" ng-class="{'success':app.state=='installed','danger':app.state=='failed','active':app.state == 'installing' }">
                <td>{{ app.name }}</td>
                <td>{{ app.type }}</td>
                <td>{{ app.modType }}</td>
                <td>{{ app.description }}</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
