<section id="showcase">
    <div class="container">
        <h1>Monitor</h1>
        <p>From this page you can monitor your application usage.</p>
    </div>
    <div class="container">
       <div class="panel panel-default">
            <div class="panel-heading">Settings</div>
            <div class="panel-body">
                <label for="refreshInterval">Refresh Time (seconds)</label>
                <input type="number" class="form-control" id="refreshInterval" ng-model="refreshInterval" ng-blur="updateInterval()" />
                <div style="margin-top:10px">
                    <button ng-model="button" data-ng-click="reboot(true)">Perform Reboot</button>
                    <button ng-model="button" data-ng-click="reboot(false)">Cancel Reboot</button>
                    <p style="margin-top:10px;margin-left:20px"><label>Result:</label> {{result.stderr}} {{result.stdout}}</span>
                </div>
            </div>
       </div>
    </div>
</section>
<section id="grapsh">
    <div class="container">
       <div class="panel panel-default">
            <div class="panel-heading">CPU Stats</div>
            <div class="panel-body">
                <div style="height:200px">
                <canvas id="line" class="chart chart-line" chart-data="data"
                    chart-labels="labels" chart-series="series" chart-options="options"
                    chart-dataset-override="datasetOverride" chart-click="onClick">
                </canvas>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Memory Stats</div>
            <div class="panel-body">
                <div style="width:200px;float:left">
                    <canvas id="pie" class="chart chart-pie"
                        chart-data="memData" 
                        chart-labels="memLabels" 
                        chart-options="memOptions">
                    </canvas>
                </div>
                <div style="margin-left:10px;margin-top:40px;width:200px;float:left">
                    <div><label>Total:</label> {{detail.memory.total | number : 0 }} MB</div>
                    <div><label>Free:</label> {{detail.memory.free | number: 0 }} MB</div>
                    <div><label>Used:</label> {{detail.memory.used | number: 0}} MB</div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Temperatures</div>
            <div class="panel-body">
                <div style="height:200px;float:left">
                    <canvas id="bar" 
                        class="chart chart-bar"
                        chart-data="tempData" 
                        chart-labels="tempLabels" 
                        chart-series="series"
                        chart-options="tempOptions">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="tables">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">File System</div>
            <div class="panel-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>Device</td>
                            <td>Mount</td>
                            <td>Used</td>
                            <td>Free</td>
                            <td>Total</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="fs in detail.fileSystems">
                            <td>{{fs.fileSystem}}</td>
                            <td>{{fs.mountedOn}}</td>
                            <td>{{fs.used}}</td>
                            <td>{{fs.available}}</td>
                            <td>{{fs.size}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Application Stats</div>
            <div class="panel-body">
                <label>User:</label>
                <div class="checkbox-inline">
                    <label class="checkbox-inline" ng-repeat="user in pdFilter.users"><input type="checkbox" ng-model="user.enable" value="{{user.name}}" />{{user.name}}</label>
                </div><br />
                <div class="form-group">
                    <label for="pidName">Name:</label>
                    <input class="form-control" ng-model="pdFilter.name" id="pidName" />
                </div>
                <div class="form-group">
                    <label for="pidCmd">Command:</label>
                    <input class="form-control" ng-model="pdFilter.command" id="pidCmd" />
                </div>
                <div class="form-group">
                    <label>CPU Min</label>
                    <input class="form-control" type="number" ng-model="pdFilter.cpu" />
                </div> 
                <div class="form-group">
                    <label>Memory Min</label>
                    <input class="form-control" type="number" ng-model="pdFilter.mem" />
                </div>
                    
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td></td>
                            <td>Name</td>
                            <td>Command</td>
                            <td>CPU</td>
                            <td>Memory</td>
                            <td>PID</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="pid in detail.pids | filter:filterPids">
                            <td><a style="cursor:pointer" ng-click="killPID(pid.pid)">Kill</a></td>
                            <td>{{pid.name}}</td>
                            <td>{{pid.cmd}}</td>
                            <td>{{pid.cpu}}%</td>
                            <td>{{pid.mem}}%</td>
                            <td>{{pid.pid}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Bluetooth Devices</div>
            <div class="panel-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>Address</td>
                            <td>Name</td>
                            <td>Company</td>
                            <td>Manufacturer</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="bd in detail.btDevices">
                            <td>{{bd.bdAddress}}</td>
                            <td>{{bd.name}}</td>
                            <td>{{bd.company}}</td>
                            <td>{{bd.manufacturer}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

