<div data-ng-controller="ScriptUpdateController">
    <section id="showcase">
        <div class="container">
            <h1>Script Update</h1>
            <p>This update the RetroPie-Setup script.</p>
        </div>
    </section>

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <input type="checkbox" ng-model="sure">I am sure I want to update the RetroPie-Setup script</input><br />
                <input type="checkbox" ng-model="selfSure">I also want to update the RetroPie Web Console (Website will be temporarily unavailable)</input><br /> 
                <button ng-model="button" ng-disabled="!sure" data-ng-click="runUpdate()">Run Update</button>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Results</div>
            <div class="panel-body">
                <div class="panel panel-default" ng-repeat="result in results">
                    <div class="panel-heading">{{result.name}}</div>
                    <div class="panel-body">
                        <p><label>Directory:</label> {{result.dir}}</p>
                        <p><label>Success:</label> <span ng-class="{'list-group-item-success':result.success,'list-group-item-danger':!result.success}">
                            {{result.success}}</span></p>
                        <p ng-if="!result.success"><label>Error:</label>{{result.error}}</p>
                        <p><label>GIT:</label><a target="_blank" href="{{result.url}}">{{result.url}}</a></p>
                        <p><label>Branch:</label> {{result.branch}}</p>
                        <p><label>Last Update:</label> {{result.date}}</p>
                    </div>
                </div>
                <p ng-if="selfSure"><label>Console Available:</label> {{isUp}}</p>
            </div>
        </div>
    </div>
</div>
